.bloc{
    /* background-image: url(./image/sample-3.jpg); */
    background-color:rgb(245, 208, 160);
    height: 400px;

}
.h1{
    color: rgb(197, 26, 112);
}
.code{
    background-color:#ffff;
    /* margin-top: 25px; */
    box-shadow: 0px 1px 2px black;
}
.nini{
    text-align: center;
    /* margin-top: 35px; */
    position: relative;
}
.pil{
    position: absolute;
    margin-top: 22%;
    font-size: 15px;
    margin-left: 35%;
    /* text-align: center; */
    
}
.poul{
    position: absolute;
    margin-top: 10%;
    margin-left: 15%;
    background-color: rgb(245, 229, 13);
    color: rgb(248, 13, 209);
    border-radius: 8px;
    transform: rotate(3px);
}