
    /* .container{
    background-color:#ffffff;
    width: 40%;
  
} */
 .met{
 /* border: 1px solid black;  */
     height: 200%; 
     width: 46%; 
     /* margin-top: 2%;  */
      box-shadow: 0px 1px 2px black;
      background-color:#ffff;
} 
 

